{{checkUserInfo()}}
<mat-card>
	<div *ngIf="!authService.isUserEmailLoggedIn">
		<div style="width: 350px;" *ngIf="isNewUser">

			<p *ngIf="errorMessage.length > 0" class="text-danger">
				{{errorMessage}}</p>

			<p *ngIf="error.message.length > 0" class="text-danger">
				{{error.message}}</p>

			<form (ngSubmit)="onSignUp()">
					<mat-form-field>
						<input matInput placeholder="Email" type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
					</mat-form-field>
					<mat-form-field>
						<input matInput type="password" class="form-control" id="password" placeholder="Wachtwoord" name="password" required [(ngModel)]="password">
					</mat-form-field>

					<button mat-button type="submit" class="btn btn-success">Registreer</button>
			</form>

			<h4 class="text-primary">Heb je al een account?<button mat-button (click)="changeForm()" class="btn btn-success">Log In</button></h4>
		</div>

		<div style="width: 350px;" *ngIf="!isNewUser">

			<p *ngIf="errorMessage.length > 0" class="text-danger">
				{{errorMessage}}</p>

			<p *ngIf="error.message.length > 0" class="text-danger">
				{{error.message}}</p>

			<form (ngSubmit)="onLoginEmail()">
				<mat-form-field>
					<input matInput placeholder="Email" type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" class="form-control" id="password" placeholder="Wachtwoord" name="password" required [(ngModel)]="password">
				</mat-form-field>

				<button mat-button type="submit" class="btn btn-success">Login</button>
			</form>

			<h4 class="text-primary" (click)="changeForm()">Heb je nog geen account? <button mat-button (click)="changeForm()" class="btn btn-success">Registreer</button></h4>

		</div>
	</div>
</mat-card>
