<mat-toolbar color="primary">
    <mat-icon mat-icon-button [matMenuTriggerFor]="menu">menu</mat-icon>
    <span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="showQuiz()">
        <mat-icon>perm_identity</mat-icon>
        <span>Quiz</span>
      </button>
      <button mat-menu-item (click)="showList()">
        <mat-icon>list</mat-icon>
        <span>Ranglijst</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        Uitloggen
      </button>
    </mat-menu>
  </span>

  <span *ngIf="state=='quizLoading'">Selecteer een quiz</span>
  <span *ngIf="state=='quizStarted'">{{quiz.name}}</span>

  <span class="spacer"></span>

  <span *ngIf="state=='quizStarted'" (click)="stopQuiz();">
    Stop quiz
    <mat-icon mat-icon-button>clear</mat-icon>
  </span>
  <mat-icon *ngIf="state=='quizStarted'" (click)="stopQuiz();" mat-icon-button>clear</mat-icon>
</mat-toolbar>

<ranklist *ngIf="show=='list'"></ranklist>

<div *ngIf="show=='quiz'" class="row">
  <div *ngIf="state=='quizLoading'" class="container">
    <h1>Quiz</h1>
    <p>
      Hieronder kan jij de quiz kiezen en starten. Succes met de quiz een veel plezier.
    </p>
  </div>

  <div *ngIf="state=='quizLoading'" class="col-md-6 text-sm-right">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let quiz of quizes" (click)="loadQuiz(quiz.id)"><mat-icon>extension</mat-icon><button mat-button>{{quiz.name}}</button></mat-list-item>
    </mat-list>
  </div>

  <div class="row">
    <div *ngIf="mode=='quiz' && quiz">
      <div *ngFor="let question of filteredQuestions;">
        <br />
        <span>
          <b class="badge badge-info">Vraag {{pager.index + 1}} van {{pager.count}}</b>
          <mat-progress-bar mode="determinate" value="{{quizProgress}}"></mat-progress-bar>
        </span>

        <h1 [innerHTML]="question.name">{{question.name}}</h1>

        <div class="row text-left options">
          <div *ngIf="currentAnswer" class="col-md-6">
            <button button class="btn btn-primary" mat-button color="primary" *ngIf="pager.index + 1 < pager.count" (click)="goTo(pager.index + 1);">Volgende</button>
            <button button class="btn btn-primary" mat-button color="primary" *ngIf="pager.index + 1 == pager.count" (click)="onSubmit();">Quiz afronden</button>
          </div>

          <div class="col-md-6" *ngFor="let option of question.options">
            <div class="">
              <label class="option" [attr.for]="option.id">
                  <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
                  {{option.name}}
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="currentAnswer" class="col-md-6">
          <div class="answer {{ currentAnswer == 'Goed'? 'good': 'wrong'}}"> {{ currentAnswer == 'Goed'? 'Goed gedaan!': 'Dit antwoord is helaas fout, probeer het opnieuw'}}</div>
          <div *ngIf="currentDescription" class="answer-description {{ currentAnswer == 'Goed'? 'good': 'wrong'}}">{{currentDescription}}</div>
          <div *ngIf="currentUrl" class="answer-url {{ currentAnswer == 'Goed'? 'good': 'wrong'}}">Zie <a target="_blank" href="{{currentUrl}}">{{currentUrl}}</a> voor meer informatie.</div>
          <hr />

          <button button class="btn btn-primary" mat-button color="primary" *ngIf="pager.index + 1 < pager.count" (click)="goTo(pager.index + 1);">Volgende</button>
          <button button class="btn btn-primary" mat-button color="primary" *ngIf="pager.index + 1 == pager.count" (click)="onSubmit();">Quiz afronden</button>
        </div>
      </div>
    </div>
  </div>

  <div class="result" *ngIf="mode=='result'">
    <h2>Quiz resultaat</h2>
    <h3>Je hebt er {{correctFirstTime}} in één keer correct</h3>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question answer {{ isCorrect(question) == 'Goed'? 'good': 'wrong'}}">
        <h4>{{index + 1}}. {{question.name}}</h4>
        <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Jouw antwoord is {{ isCorrect(question) == 'Goed'? 'goed': 'fout'}}.</h4>

        <div class="row">
          <div class="col-md-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />


            <span *ngIf="Option.isAnswer == true" class="correctanswer">{{Option.name}}</span>
            <span *ngIf="Option.isAnswer != true">{{Option.name}}</span>
            <span *ngIf="Option.isAnswer == true" class="descriptionanswer"><br> {{ Option.description }} <br></span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
