<mat-toolbar color="primary">
    <mat-icon mat-icon-button [matMenuTriggerFor]="menu">menu</mat-icon>
    <span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="showQuiz()">
        <mat-icon>perm_identity</mat-icon>
        <span>Quiz</span>
      </button>
      <button mat-menu-item (click)="showList()">
        <mat-icon>list</mat-icon>
        <span>Ranglijst</span>
      </button>
    </mat-menu>
  </span>


  <span *ngIf="state=='quizLoading'">Selecteer een quiz</span>
  <span *ngIf="state=='quizStarted'">{{quiz.name}}</span>

  <span class="spacer"></span>

  <span *ngIf="state=='quizStarted'" (click)="stopQuiz();">
    Stop quiz
  </span>
  <mat-icon *ngIf="state=='quizStarted'" (click)="stopQuiz();" mat-icon-button>clear</mat-icon>
</mat-toolbar>

<div class="container">
  <app-quiz *ngIf="show=='quiz'"></app-quiz>
  <ranklist *ngIf="show=='list'"></ranklist>
</div>
